@page
@using DentaPix_Clinic.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@if (User.IsInRole(SD.Role_Admin))
{
    
    <h1 class="pt-4 text-center">Register - ADMIN PORTAL</h1>
}
else{
<h1 class="pt-4 text-center">@ViewData["Title"]</h1>
}


<div class="row pt-4">
    <div class="col-md-7 row">
        <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Address" class="form-control" aria-required="true" />
                <label asp-for="Input.Address"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.PhoneNumber" class="form-control"  aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(SD.Role_Admin))
            {
                <div class="form-floating py-2 col-6">
                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                        <option disabled selected>-Select Role-</option>
                    </select>
                </div>
                <div class="form-floating py-2 col-6">
                    <select asp-for="Input.DoctorId" asp-items="@Model.Input.DoctorList" class="form-select" style="display:none">
                     <option disabled selected>-Select Doctor-</option>
                 </select>
            </div>
            }
            <button id="registerSubmit" type="submit" class="w-100 btn btn-outline-primary m-2">Register</button>
        </form>
    </div>
    @if (!User.IsInRole(SD.Role_Admin))
    {
        <div class="col-md-5">
            <section>
                <h3>Use another service to register.</h3>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>

                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function() {
            $('#Input_Role').change(function() {
                var selection = $('#Input_Role Option:Selected').text();
                if (selection != 'Doctor') {
                    $('#Input_DoctorId').hide();
                }
                else{
                     $('#Input_DoctorId').show();
                }
            })
        })
    </script>
}
